# venv
# venv (Em produção)

# Django #
# *.log (Em produção)
# *.pot (Em produção)
# *.pyc (Em produção)
# __pycache__ (Em produção)
db.sqlite3
media

# Visual Studio Code #
# .vscode/* (Em produção)
# !.vscode/sttings (Em produção)

# Backup files #
# *.bak (Em produção)

# Installer logs
# pip-log.txt (Em produção)
# pip-delete-this-directory.txt (Em produção)

# pyenv
#.python-version (Em produção)

# Visual Studio Code #
# .vscode/* (Em produção)
# !.vscode/settings.json (Em produção)
# !.vscode/tasks.json (Em produção)
# !.vscode/launch.json (Em produção)
# !.vscode/extensions.json (Em produção)
# .history (Em produção)