<header>
    <div class="header">
        <div class="logo">
            <a href="index2.html"><img src="assets/images/logoPCSOLIDARIO02.png" alt="Logo do Site"></a>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="index2.html">Início</a></li>
                    <li><a href="#">Como Funciona</a></li>
                    <li><a href="quem_somos.html">Quem Somos</a></li>
                    <li><a href="noticias.html">Notícias</a></li>
                </ul>
            </nav>
        </div>
        <div class="icons">
            <a href=""><img src="assets/images/whatsapp.png" alt="icon_twitter "></a>
            <a href=""><img src="assets/images/instagram.png" alt="icon_twitter "></a>
            <a href=""><img src="assets/images/logo-do-facebook.png" alt="icon_twitter "></a>
            <a href=""><img src="assets/images/twitter.png" alt="icon_twitter "></a>
        </div>
    </div>
</header>