{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Solidário2</title>

    <link rel="shortcut icon" href="{% static 'app_home/images/logo_pcsolidario.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app_home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'app_home/css/depoimentos.css' %}">
    <link rel="stylesheet" href="{% static 'app_home/css/swiper-bundle.min.css' %}">
        
    <script src="{% static 'app_home/javaScript/script.js' %}" defer></script>
</head>